<h1>
    {{'user.profile.title' | translate}}
</h1>
<form role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'user.profile.form.myProfile' | translate}}
        </div>
        <div class="panel-body">
            <div class="row  form-group">
                <div class="controls col-lg-4">
                    <label>{{'user.profile.label.joinTime' | translate}}</label>
                </div>
                <div class="controls col-lg-4">
                    23-04-2013
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>{{'user.profile.label.name' | translate}}</label>
                </div>
                <div class="controls col-lg-4">
                    Tang Hao
                    <!--<input type="text" class="form-control" value="Tang Hao">-->
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>{{'user.profile.label.userGroup' | translate}}</label>
                </div>
                <div class="controls col-lg-4">
                    Admin
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            {{'user.profile.form.emailManagement' | translate}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="controls col-lg-4">
                    <label>{{'user.profile.label.email' | translate}}</label>

                    <p class="help-block">{{'user.profile.label.email.helpInfo' | translate}}</p>
                </div>
                <div class="controls col-lg-4">
                    tanghaol1987@gmail.com
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>{{'user.profile.label.password' | translate}}</label>
                </div>
                <div class="controls col-lg-4">
                    Hidden
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>{{'user.profile.label.newsInfo' | translate}}</label>
                </div>
                <div class="controls col-lg-4">
                    <input type="checkbox" checked disabled>
                </div>
            </div>
        </div>
    </div>
</form>